@font-face {
  font-family: PatuaOne-Regular;
  src: url(assets/fonts/Patua_One/PatuaOne-Regular.ttf);
}
Body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background: rgb(126, 122, 122);
  background-image: url(./assets/images/gatoPretoMaior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: PatuaOne-Regular;
  color: black;
  margin-left: 28%;
}
div {
  background-color: rgb(253, 250, 68);
  position: relative;
  width: 25%;
  height: 400px;
  left: 10%;
  top: 150px;
  padding: 40px;
  border-radius: 20px;
  color: #fff;
}
input {
  width: 100%;
  padding: 7px;
  border-radius: 8px;
  margin-top: 10px;
}
button {
  background-color: rgb(156, 144, 144);
  border: none;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin-top: 30px;
}

button:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.forgot {
  color: black;
  margin-left: 60px;
  margin-top: 7px;
  font-size: 16px;
}

.account {
  color: black;
  margin-left: 80px;
}
/*mobile first*/
@media (min-width: 375px) and (max-width: 760px) {
  Body {
    background-size: auto;
  }
  h1 {
    margin-left: 70px;
    font-size: 23px;
  }
  div {
    position: relative;
    width: 60%;
    height: 400px;
    left: 10%;
    top: 80px;
    padding: 40px;
    border-radius: 20px;
    color: #fff;
  }
  .forgot {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 12px;
  }
  .account {
    margin-left: 58px;
    font-size: 12px;
  }
}
/*IPad and Tablet*/
@media (min-width: 761px) and (max-width: 1024px) {
  Body {
    background-size: contain;
    background-repeat: repeat;
  }
  div {
    width: 35%;
    left: 25%;
  }
  .forgot {
    margin-left: 35px;
    margin-top: 10px;
  }
  .account {
    margin-left: 60px;
  }
}
/*Desktop 1920x929*/
@media (min-width: 1285px) and (max-width: 1920px) {
  h1 {
    margin-left: 35%;
  }
  div {
    position: relative;
    width: 20%;
    height: 480px;
    left: 10%;
    top: 200px;
  }

  .forgot {
    margin-left: 80px;
    margin-top: 40px;
  }
  .account {
    margin-left: 100px;
  }
}
